module defprec
  use iso_fortran_env, only: int32, real64
  implicit none
  integer, parameter :: i_std=int32, r_std=real64
end module defprec

module constantes_var
  use defprec
  implicit none
  real(r_std), parameter :: pi=acos(-1._r_std)
  real(r_std), parameter :: R_Earth=6378000._r_std
  real(r_std), parameter :: undef_sechiba=1.e20_r_std
end module constantes_var

module module_llxy
  use defprec
  implicit none
  integer, parameter :: PROJ_LATLON=6
  type proj_info
    integer :: code
    real :: lat1,lon1,latinc,loninc,knowni,knownj
  end type proj_info
contains
! <IJLL_LATLON>
  subroutine ij_to_latlon(proj,i,j,lat,lon)
    type(proj_info),intent(in)::proj
    real,intent(in)::i,j
    real,intent(out)::lat,lon
    call ijll_latlon(i,j,proj,lat,lon)
  end subroutine ij_to_latlon
end module module_llxy

module haversine_grid_oracle
  use defprec
  use constantes_var
  use module_llxy
  implicit none
contains
  subroutine ipslerr(level,a,b,c,d)
    integer,intent(in)::level
    character(*),intent(in)::a,b,c,d
    if(level>=3) error stop 'ipslerr'
  end subroutine ipslerr
! <HAVERSINE_REGLATLONTOPLOY>
! <HAVERSINE_REGXYTOPLOY>
! <HAVERSINE_SINGLEPOINTPLOY>
! <HAVERSINE_RADIALDIS>
! <HAVERSINE_DTOR>
! <HAVERSINE_RTOD>
end module haversine_grid_oracle

program driver
  use defprec
  use module_llxy
  use haversine_grid_oracle
  implicit none
  integer(i_std),parameter::iim=3,jjm=3,nbpt=9,nbseg=4
  real(r_std)::lon(iim,jjm),lat(iim,jjm),lonpoly(nbpt,8),latpoly(nbpt,8),center(nbpt,2)
  real(r_std)::slon(1,1),slat(1,1),slonpoly(1,8),slatpoly(1,8),scenter(1,2)
  integer(i_std)::index_loc(nbpt),neighb(nbpt,8),iorig(nbpt),jorig(nbpt)
  integer(i_std)::sindex(1),sneighb(1,8),siorig(1),sjorig(1)
  type(proj_info)::proj(1)
  integer::i,j,u
  character(512)::path,mode

  do j=1,jjm
    do i=1,iim
      lon(i,j)=10._r_std+2._r_std*(i-1)
      lat(i,j)=40._r_std+1.5_r_std*(j-1)
      index_loc(i+(j-1)*iim)=i+(j-1)*iim
    enddo
  enddo
  proj(1)%code=PROJ_LATLON
  proj(1)%lat1=30._r_std; proj(1)%lon1=-20._r_std
  proj(1)%latinc=1.25_r_std; proj(1)%loninc=2.5_r_std
  proj(1)%knowni=1._r_std; proj(1)%knownj=1._r_std
  call get_command_argument(2,mode)
  if(trim(mode)=='missing_longitude') then
    call haversine_reglatlontoploy(1,3,lon(1:1,:),lat(1:1,:),3,index_loc(1:3),.false.,nbseg,lonpoly(1:3,:),latpoly(1:3,:),center(1:3,:),neighb(1:3,:),iorig(1:3),jorig(1:3))
    stop 95
  elseif(trim(mode)=='missing_latitude') then
    call haversine_reglatlontoploy(3,1,lon(:,1:1),lat(:,1:1),3,index_loc(1:3),.false.,nbseg,lonpoly(1:3,:),latpoly(1:3,:),center(1:3,:),neighb(1:3,:),iorig(1:3),jorig(1:3))
    stop 96
  elseif(trim(mode)=='invalid_projection') then
    proj(1)%code=203
    call haversine_regxytoploy(iim,jjm,lon,lat,nbpt,index_loc,proj,nbseg,lonpoly,latpoly,center,neighb,iorig,jorig)
    stop 97
  endif

  call get_command_argument(1,path)
  open(newunit=u,file=trim(path),status='replace')
  write(u,'(a)') 'field,flat_index,value'
  call haversine_reglatlontoploy(iim,jjm,lon,lat,nbpt,index_loc,.false.,nbseg,lonpoly,latpoly,center,neighb,iorig,jorig)
  call write_geometry(u,'lalo_local',nbpt,lonpoly,latpoly,center,neighb,iorig,jorig)
  call haversine_reglatlontoploy(iim,jjm,lon,lat,nbpt,index_loc,.true.,nbseg,lonpoly,latpoly,center,neighb,iorig,jorig)
  call write_geometry(u,'lalo_global',nbpt,lonpoly,latpoly,center,neighb,iorig,jorig)
  call haversine_regxytoploy(iim,jjm,lon,lat,nbpt,index_loc,proj,nbseg,lonpoly,latpoly,center,neighb,iorig,jorig)
  call write_geometry(u,'regxy',nbpt,lonpoly,latpoly,center,neighb,iorig,jorig)
  slon(1,1)=10._r_std;slat(1,1)=45._r_std;sindex(1)=1
  call haversine_singlepointploy(1,1,slon,slat,1,sindex,.false.,nbseg,slonpoly,slatpoly,scenter,sneighb,siorig,sjorig)
  call write_geometry(u,'single',1,slonpoly,slatpoly,scenter,sneighb,siorig,sjorig)
  close(u)
contains
  subroutine write_geometry(unit,name,npoint,plon,plat,ctr,ngh,io,jo)
    integer,intent(in)::unit,npoint
    character(*),intent(in)::name
    real(r_std),intent(in)::plon(npoint,8),plat(npoint,8),ctr(npoint,2)
    integer(i_std),intent(in)::ngh(npoint,8),io(npoint),jo(npoint)
    integer::p,q
    do p=1,npoint
      do q=1,8
        write(unit,'(a,a,i0,a,es25.17)')trim(name),'_lonpoly,',(p-1)*8+q-1,',',plon(p,q)
        write(unit,'(a,a,i0,a,es25.17)')trim(name),'_latpoly,',(p-1)*8+q-1,',',plat(p,q)
        write(unit,'(a,a,i0,a,i0)')trim(name),'_neighb,',(p-1)*8+q-1,',',ngh(p,q)
      enddo
      do q=1,2
        write(unit,'(a,a,i0,a,es25.17)')trim(name),'_center,',(p-1)*2+q-1,',',ctr(p,q)
      enddo
      write(unit,'(a,a,i0,a,i0)')trim(name),'_iorig,',p-1,',',io(p)
      write(unit,'(a,a,i0,a,i0)')trim(name),'_jorig,',p-1,',',jo(p)
    enddo
  end subroutine write_geometry
end program driver
