module defprec
  use iso_fortran_env, only: int32, real64
  implicit none
  integer, parameter :: i_std = int32, r_std = real64
end module defprec

module stomate_source_helpers_oracle
  use defprec
  implicit none
  integer, parameter :: nvm = 14, nleafages = 4, nlitt = 2, npco2 = 1
  integer, parameter :: ivcmax = 1, imetabolic = 1, istructural = 2
  real(r_std), parameter :: zero = 0._r_std, un = 1._r_std
  real(r_std), parameter :: min_stomate = 0._r_std
  real(r_std), parameter :: vmax_offset = 0.3_r_std
  real(r_std), parameter :: leafage_firstmax = 0.03_r_std
  real(r_std), parameter :: leafage_lastmax = 0.5_r_std
  real(r_std), parameter :: leafage_old = 1._r_std
  real(r_std), parameter :: val_exp = 999999._r_std
  integer :: printlev = 0, numout = 6
  real(r_std) :: leaf_timecst(nvm), leafagecrit(nvm), vcmax25(nvm)
  real(r_std) :: sla_calc(3, nvm)
  integer :: pheno_type(nvm), leaf_tab(nvm)
  logical :: ok_laidev(nvm), ok_dgvm = .false.
  logical, save :: firstcall_vmax = .true., ok_nlim = .false.
contains
  subroutine getin(name, value)
    character(len=*), intent(in) :: name
    logical, intent(inout) :: value
  end subroutine getin
! <VMAX>
! <DEADLEAF>
! <STOMATE_VAR_INIT>
! <SORT_ASCENDING>
end module stomate_source_helpers_oracle

program driver
  use defprec
  use stomate_source_helpers_oracle
  implicit none
  integer :: unit, i, j, m
  character(len=1024) :: output_path
  real(r_std) :: values(4, 6)
  real(r_std) :: veget_cov_max(3, nvm), veget(3, nvm), lai(3, nvm)
  real(r_std) :: leaf_age(3, nvm, nleafages), leaf_frac(3, nvm, nleafages)
  real(r_std) :: dead_leaves(3, nvm, nlitt)
  real(r_std) :: n_limfert(3, nvm), assim_param(3, nvm, npco2)
  real(r_std) :: deadleaf_cover(3), assim_preserved(3, nvm, npco2)

  values(1, :) = (/ 4._r_std, -2._r_std, 4._r_std, 0._r_std, 9._r_std, -2._r_std /)
  values(2, :) = (/ 6._r_std, 5._r_std, 4._r_std, 3._r_std, 2._r_std, 1._r_std /)
  values(3, :) = (/ -3._r_std, -2._r_std, -1._r_std, 0._r_std, 1._r_std, 2._r_std /)
  values(4, :) = (/ 0._r_std, 0._r_std, 0._r_std, 0._r_std, 0._r_std, 0._r_std /)
  call sort_ascending(4, values, 6)

  leaf_timecst = 100._r_std
  leafagecrit = 200._r_std
  vcmax25 = 50._r_std
  pheno_type = 0
  leaf_tab = 0
  ok_laidev = .false.
  veget_cov_max = zero
  veget = zero
  lai = zero
  leaf_age = zero
  leaf_frac = zero
  dead_leaves = zero
  sla_calc = 0.02_r_std
  n_limfert = un
  do i = 1, 3
    do j = 1, nvm
      veget_cov_max(i, j) = 0.005_r_std * real(i + j, r_std)
      veget(i, j) = 0.5_r_std * veget_cov_max(i, j)
      lai(i, j) = 0.1_r_std * real(i, r_std)
      dead_leaves(i, j, 1) = 0.2_r_std * real(i + j, r_std)
      dead_leaves(i, j, 2) = 0.1_r_std * real(2 * i + j, r_std)
      do m = 1, nleafages
        leaf_age(i, j, m) = 10._r_std * real(m, r_std)
        leaf_frac(i, j, m) = 0.25_r_std
      end do
    end do
  end do

  assim_param = 17._r_std
  call stomate_var_init(3, veget_cov_max, leaf_age, leaf_frac, dead_leaves, &
                        veget, lai, deadleaf_cover, assim_param, n_limfert)
  assim_preserved = assim_param
  assim_param = val_exp
  call stomate_var_init(3, veget_cov_max, leaf_age, leaf_frac, dead_leaves, &
                        veget, lai, deadleaf_cover, assim_param, n_limfert)

  call get_command_argument(1, output_path)
  open(newunit=unit, file=trim(output_path), status='replace', action='write')
  write(unit, '(a)') 'field,flat_index,value'
  do i = 1, 4
    do j = 1, 6
      write(unit, '(a,i0,a,es25.17)') 'sorted,', (i - 1) * 6 + j - 1, ',', values(i, j)
    end do
  end do
  do i = 1, 3
    write(unit, '(a,i0,a,es25.17)') 'deadleaf_cover,', i - 1, ',', deadleaf_cover(i)
    do j = 1, nvm
      write(unit, '(a,i0,a,es25.17)') 'assim_preserved,', (i - 1) * nvm + j - 1, ',', assim_preserved(i, j, 1)
      write(unit, '(a,i0,a,es25.17)') 'assim_initialized,', (i - 1) * nvm + j - 1, ',', assim_param(i, j, 1)
    end do
  end do
  close(unit)
end program driver
